.jumbotron {
    padding: 2rem 1rem 1rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.icons {
  margin-top: 2rem;
}
.icon-hover img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icon-hover:hover img {
  transform: scale(1.5);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);
}