/* Reset simple */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #212529; /* texte noir-gris Bootstrap */
}

/* Conteneur fixe comme Bootstrap */
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;  /* Pour éviter que le contenu colle au bord */
    padding-right: 15px;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size:14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
    
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
  }