/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
}
.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size:14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
    
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
  }